<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutOutputDuringTests="true">
	<testsuites>
		<testsuite name="Equivset Tests">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-clover" target="./coverage/clover.xml" />
	</logging>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
	<coverage includeUncoveredFiles="true">
		<include>
			<directory suffix=".php">./src</directory>
		</include>
		<report>
			<clover outputFile="./coverage/clover.xml"/>
		</report>
	</coverage>
</phpunit>
